/* custom-fb.css */

body {
    font-size: 16px;
    color: #111111;
}

a {
    /* color: #1327a7; */
    color: #23527c;
}

.navbar {
    background: url(/++skin++CCQ_FreeBrass/@@/top-bg.jpg);
}

.breadcrumb {
    border: none;
    list-style: outside none none;
    margin-bottom: 5px;
    padding: 8px 15px;
}

